{% extends "Aplicacio/base.html" %}
{% block title %}Aplicacio - {{ location.name }}{% endblock %}
{% block content %}

<span vocab="http://schema.org/" typeof="Location">

<h1>
    <span property="name">{{ location.name }}</span>
    {% if user == location.user %}
        (<a href="{% url 'Aplicacio:location_edit' location.id %}">edit</a>)
        (<a href="{% url 'Aplicacio:delete_location' location.id %}">delete</a>)
    {% endif %}
</h1>

<h2>LOCATION DETAILS:</h2>
<p>
    DECK: {{ location.deck }} <br/>
</p>


</span>


{% endblock %}
{% block footer %}
    Created by {{ location.user }} on {{ location.date }}
{% endblock %}
