{% extends "Aplicacio/base.html" %}
{% block title %}Aplicacio - {{ movie.name }}{% endblock %}
{% block content %}

<span vocab="http://schema.org/" typeof="Restaurant">

<h1>
    <span property="name">{{ movie.name }}</span>
    {% if user == movie.user %}
        (<a href="{% url 'Aplicacio:movie_edit' movie.id %}">edit</a>)
        (<a href="{% url 'Aplicacio:delete_movie' movie.id %}">delete</a>)
    {% endif %}
</h1>

<h2>MOVIE DETAILS:</h2>
<p>
    DECK: {{ movie.deck }} <br/>
    DURATION: {{ movie.duration }} <br/>
    REVENUE: {{ movie.revenue }} </br>
    MORE DETAILS: <a href= "{{ movie.detail_url }}"> link </a>
</p>

<h2>Characters</h2>
<ul>
    {% for character in movie.characters.all %}
            <li><a href="{% url 'Aplicacio:character_detail' character.id %}">{{ character.name }}</li></a>
    {% empty %}<li>Sorry, no characters for this movie yet.</li>
    {% endfor %}
</ul>

<h2>Locations</h2>
<ul>
    {% for location in movie.locations.all %}
            <li><a href="{% url 'Aplicacio:location_detail' location.id %}">{{ location.name }}</li></a>
    {% empty %}<li>Sorry, no locations for this movie yet.</li>
    {% endfor %}
</ul>

</span>

{% endblock %}
{% block footer %}
    Created by {{ movie.user }} on {{ movie.date }}
{% endblock %}
