{% extends "Aplicacio/base.html" %}
{% block title %}Aplicacio - {{ power.name }}{% endblock %}
{% block content %}

<span vocab="http://schema.org/" typeof="Role">

<h1>
    <span property="name">{{ power.name }}</span>
    {% if user == power.user %}
        (<a href="{% url 'Aplicacio:power_edit' power.id %}">edit</a>)
        (<a href="{% url 'Aplicacio:delete_power' power.id %}">delete</a>)
    {% endif %}
</h1>

<h2>POWER DETAILS:</h2>
<p>
    DESCRIPTION: <span property="description"> {{ power.description }} </span><br/>
</p>


</span>


{% endblock %}
{% block footer %}
    Created by {{ power.user }} on {{ power.date }}
{% endblock %}
