{% extends "Aplicacio/base.html" %}
{% block title %}Aplicacio - {{ team.name }}{% endblock %}
{% block content %}

<span vocab="http://schema.org/" typeof="Restaurant">

<h1>
    <span property="name">{{ team.name }}</span>
    {% if user == team.user %}
        (<a href="{% url 'Aplicacio:team_edit' team.id %}">edit</a>)
        (<a href="{% url 'Aplicacio:delete_team' team.id %}">delete</a>)
    {% endif %}
</h1>

<h2>TEAM DETAILS:</h2>
<p>
    NUMBER OF MEMBERS: {{ team.num_members }} <br/>
    DESCRIPTION: {{ team.description }} <br/>
</p>


</span>


{% endblock %}
{% block footer %}
    Created by {{ team.user }} on {{ team.date }}
{% endblock %}
